<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>EarthboundBattle</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.earthboundbattle</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Earthbound Battle</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPrincipalClass</key>
    <string>EarthboundBattle.EarthboundBattleView</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025. All rights reserved.
Earthbound backgrounds inspired by gjtorikian/Earthbound-Battle-Backgrounds-JS</string>
</dict>
</plist>